<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>grv.cell.servlets.UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>grv.cell.servlets.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrievanceRegistration</servlet-name>
        <servlet-class>grv.cell.servlets.GrievanceRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReminder</servlet-name>
        <servlet-class>grv.cell.servlets.UserReminder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeekClarification</servlet-name>
        <servlet-class>grv.cell.servlets.SeekClarification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserClarification</servlet-name>
        <servlet-class>grv.cell.servlets.UserClarification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingGrievanceAction</servlet-name>
        <servlet-class>grv.cell.servlets.PendingGrievanceAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStatusQuery</servlet-name>
        <servlet-class>grv.cell.servlets.UserStatusQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PGOLogin</servlet-name>
        <servlet-class>grv.cell.servlets.PGOLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>grv.cell.servlets.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>grv.cell.servlets.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowBlock</servlet-name>
        <servlet-class>grv.cell.ajax.AjaxShowBlock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowPanchayat</servlet-name>
        <servlet-class>grv.cell.ajax.AjaxShowPanchayat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowVillage</servlet-name>
        <servlet-class>grv.cell.ajax.AjaxShowVillage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFUploadServlet</servlet-name>
        <servlet-class>grv.cell.ajax.PDFUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>grv.cell.ajax.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionTakenNew</servlet-name>
        <servlet-class>grv.cell.servlets.ActionTakenNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewGrievanceAction</servlet-name>
        <servlet-class>grv.cell.servlets.NewGrievanceAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PgoWriteLetter</servlet-name>
        <servlet-class>grv.cell.servlets.PgoWriteLetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>grv.cell.servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterOrganization</servlet-name>
        <servlet-class>grv.cell.servlets.RegisterOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowBlockParent</servlet-name>
        <servlet-class>grv.cell.ajax.AjaxShowBlockParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPgo</servlet-name>
        <servlet-class>grv.cell.servlets.RegisterPgo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrganizationDetails</servlet-name>
        <servlet-class>grv.cell.servlets.UpdateOrganizationDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePgoDetails</servlet-name>
        <servlet-class>UpdatePgoDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePgoDetails1</servlet-name>
        <servlet-class>grv.cell.servlets.UpdatePgoDetails1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrievanceCategory</servlet-name>
        <servlet-class>grv.cell.servlets.GrievanceCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowDist</servlet-name>
        <servlet-class>grv.cell.ajax.AjaxShowDist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowRegdBlock</servlet-name>
        <servlet-class>grv.cell.ajax.AjaxShowRegdBlock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowDistOrg</servlet-name>
        <servlet-class>grv.cell.ajax.AjaxShowDistOrg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowBlockOrg</servlet-name>
        <servlet-class>grv.cell.ajax.AjaxShowBlockOrg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxShowDist1</servlet-name>
        <servlet-class>grv.cell.ajax.AjaxShowDist1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserDetails</servlet-name>
        <servlet-class>grv.cell.servlets.UpdateUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TargetDate</servlet-name>
        <servlet-class>grv.cell.servlets.TargetDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePgoDetailsByPgo</servlet-name>
        <servlet-class>grv.cell.servlets.UpdatePgoDetailsByPgo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectAction</servlet-name>
        <servlet-class>grv.cell.servlets.DirectAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClarificationLetter</servlet-name>
        <servlet-class>grv.cell.servlets.ClarificationLetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReForwardGrv</servlet-name>
        <servlet-class>grv.cell.servlets.ReForwardGrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeNewGrv</servlet-name>
        <servlet-class>grv.cell.servlets.MakeNewGrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>grv.cell.servlets.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notice</servlet-name>
        <servlet-class>grv.cell.servlets.Notice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrganization</servlet-name>
        <servlet-class>grv.cell.servlets.DeleteOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePgo</servlet-name>
        <servlet-class>grv.cell.servlets.DeletePgo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePgoStatus</servlet-name>
        <servlet-class>grv.cell.servlets.UpdatePgoStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>grv.cell.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGrvCategory</servlet-name>
        <servlet-class>grv.cell.servlets.DeleteGrvCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrievanceRegistration</servlet-name>
        <url-pattern>/GrievanceRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReminder</servlet-name>
        <url-pattern>/UserReminder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeekClarification</servlet-name>
        <url-pattern>/SeekClarification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserClarification</servlet-name>
        <url-pattern>/UserClarification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingGrievanceAction</servlet-name>
        <url-pattern>/PendingGrievanceAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStatusQuery</servlet-name>
        <url-pattern>/UserStatusQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PGOLogin</servlet-name>
        <url-pattern>/PGOLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/ImageUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowBlock</servlet-name>
        <url-pattern>/AjaxShowBlock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowPanchayat</servlet-name>
        <url-pattern>/AjaxShowPanchayat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowVillage</servlet-name>
        <url-pattern>/AjaxShowVillage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFUploadServlet</servlet-name>
        <url-pattern>/PDFUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewGrievanceAction</servlet-name>
        <url-pattern>/NewGrievanceAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PgoWriteLetter</servlet-name>
        <url-pattern>/PgoWriteLetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterOrganization</servlet-name>
        <url-pattern>/RegisterOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowBlockParent</servlet-name>
        <url-pattern>/AjaxShowBlockParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPgo</servlet-name>
        <url-pattern>/RegisterPgo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrganizationDetails</servlet-name>
        <url-pattern>/UpdateOrganizationDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePgoDetails</servlet-name>
        <url-pattern>/UpdatePgoDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePgoDetails1</servlet-name>
        <url-pattern>/UpdatePgoDetails1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrievanceCategory</servlet-name>
        <url-pattern>/GrievanceCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowDist</servlet-name>
        <url-pattern>/AjaxShowDist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowRegdBlock</servlet-name>
        <url-pattern>/AjaxShowRegdBlock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowDistOrg</servlet-name>
        <url-pattern>/AjaxShowDistOrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowBlockOrg</servlet-name>
        <url-pattern>/AjaxShowBlockOrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxShowDist1</servlet-name>
        <url-pattern>/AjaxShowDist1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserDetails</servlet-name>
        <url-pattern>/UpdateUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TargetDate</servlet-name>
        <url-pattern>/TargetDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePgoDetailsByPgo</servlet-name>
        <url-pattern>/UpdatePgoDetailsByPgo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectAction</servlet-name>
        <url-pattern>/DirectAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClarificationLetter</servlet-name>
        <url-pattern>/ClarificationLetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReForwardGrv</servlet-name>
        <url-pattern>/ReForwardGrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeNewGrv</servlet-name>
        <url-pattern>/MakeNewGrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notice</servlet-name>
        <url-pattern>/Notice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrganization</servlet-name>
        <url-pattern>/DeleteOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePgo</servlet-name>
        <url-pattern>/DeletePgo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePgoStatus</servlet-name>
        <url-pattern>/UpdatePgoStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGrvCategory</servlet-name>
        <url-pattern>/DeleteGrvCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
